*{
  font-family: Raleway;
}
body {
  background-color: #344a72;
}
input[type=email]:invalid {
  content: "invalid input";
  border-color: #900;
  outline: none;
  background-color: #FDD;
}

input[type=email]:focus:valid {
    outline:none;
    background-color:#80ffaa;
}
table{
  table-layout: auto;
}
.required::after {
    content: "*";
    color: red;
    font-size: 20px;
}
#container {
  margin: 30px 300px;
  padding: 10px 80px;
}
.form-wrap {
  background-color: white;
  padding: 10px 40px;
}
h1,p {
  text-align: center;
}
a:hover{
  text-decoration: none;
}
.bottom-text {
  padding-top: 20px;
  font-family: Raleway;
}

footer {
  text-align:center;     
}
footer p {
  color: #f2f2f2;
}
.colorpicker{
  color: #0066ff;
}
footer a,.bottom-text a{
  color:#1affa3;
}
footer a:hover{
  color: white;
}